body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #FAF7F5;
  color: #393939;
}

.intro {
  height: 100vh;
}

.intro-title {
  margin-top: 50%;
}

.portrait {
  width: 250px;
  border-radius: 3px;
}

.social-icons {
  width: 30px;
  height: 30px;
}

.footer {
  text-align: center;
  width: 100%;
}

@media (min-width: 990px) {
  .intro-title {
    margin-top: 30%;
  }
}
