body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* light mode colors: */
/* #root {
  background-color: #FAF7F5;
  color: #393939;
} */

/* HOME PAGE */
.intro {
  height: 100vh;
}

.intro-title {
  margin-top: 50%;
  color: #FAF7F5;
  font-size: 60px;
  font-weight: 700;
}

/* PORTFOLIO */
.portfolio-items-container {
  flex-direction: column;
}

.portfolio-img {
  border-radius: 20px;
  width: 100%;
}

.project-links {
  justify-content: space-evenly;
}

/* MEET CASE STUDY */
.meet-hero {
  background-image: url("https://images.unsplash.com/photo-1516738901171-8eb4fc13bd20?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: right;
}

.meet-cs-screenshot {
  width: 80%;
}

.meet-dividers {
  background-color: rgb(158, 198, 214);
  margin-inline: 20%!important;
}

.meet-logo-meet {
  font-size: 75px;
  font-weight: 600;
  -webkit-text-stroke: 2px white;
  color: black;
  text-shadow: 
    3px 3px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.meet-logo-subtitle {
  overflow: hidden;
  border-right: .15em solid rgb(142, 178, 177);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(16, end),
    blink-caret .75s step-end infinite;
}

.meet-hero-credit {
  font-size: smaller;
}

/* MOVIE CASE STUDY */
.hero {
  background-image: url("../public/bw-theater.jpg");
  background-position: center;
}

.mini-dividers {
  margin-left: 80%!important;
}

.bi-arrow-right {
  margin-inline: 10px;
}

.popopolis-logo {
  font-family: 'Limelight', sans-serif;
}

.carousel-img {
  max-width: 600px;
  max-height: 500px;
}

.carousel-item {
  text-align: center;
}

/* RESUME */
.resume-contact {
  text-align: right;
}

/* ABOUT */
.portrait {
  width: 250px;
  border-radius: 3px;
}

/* FOOTER */
.footer {
  text-align: center;
  width: 100%;
}

/* MEDIA QUERIES */
@media (min-width: 990px) {
  .intro-title {
    margin-top: 30%;
  }
}

@media (max-width: 650px) {
  .intro-title {
    font-size: 40px;
  }
}